<div class="container-fluid">
    <h1 class="text-center mt-2 text-white">Welcome to Our Quotes Application</h1>
    <p class=" text-center ml-4">This is an application where users can create quotes <br>
        and have those quotes voted 
        on whether they are terrible or are inspirational. </p>
    <app-quotes></app-quotes>
    <div class="row">
        <div class="col-md-6">

            <!-- <app-quotes-form (add)="addNewQuote($event)"></app-quotes-form> -->
        </div>
        <div class="col-md-6">
            <!-- <app-quotes></app-quotes> -->
        </div>
    </div>

</div>
