@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
* {
    background-color: aqua;
    box-sizing: border-box;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}